@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh; 
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;  
    background-image: linear-gradient(45deg, #93c9ec, #5236cf);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    position: relative;
    height: 300px;
    width: 300px;
    transform: translateX(-40%);
    
    padding-bottom: 10px;
}

h1 {
    text-wrap: nowrap;
    margin-bottom: 5px;
    border-bottom-style: inset;
}

form {
    position: absolute;
    width: 350px;
    transform: translateX(65%);
    margin-bottom: 20px; 
    text-align: left;  
}

p {
    width: 100%;
    margin-bottom: 10px;
}

h3, h4 {
    height: 20px;
    margin: 10px;
}