* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, #93c9ec, #5236cf);
}

h1 {
    width: 600px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom-style: inset;
}

.container {
    display: flex;
    align-items: flex-start; /* Aligns the items at the top */
}

.image-container {
    margin-right: 20px;
}

img.normal { 
    float: left; 
    height: 300px; 
    width: 300px; 
}

img.alta { 
    float: left; 
    height: 420px; 
    width: 300px; 
}

.tabuada-image {
    max-width: 200px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures content starts from the top */
    max-width: 300px;
    padding: 10px;
}

.content p {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    gap: 5px;
}

.result {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
}

pre, h3 { 
    font-size: 1.2em;
    margin-top: 10px;
}

.font-azul {
    color: blue;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}

.italico {
    font-style: italic;
}

.entre-letras {
    letter-spacing: 0.5em;
}

.alinha-direita {
    text-align: right;
}